
h2 {
  font-family:trajan pro ;
}
h1 {
  font-family:trajan pro;
}
#slides {
width: 40%;
float:left;  }
#curiosidades1 {
width: 59%;
float: right
}
#curiosidades2 {
width: 59%;
float: right;
height: 440px;
overflow-y:scroll

}
#dropdownMenuButton {
  background-color:#f5f5f5;
  color:#000000;
  border: none;
}


tr:hover {
  background-color: #eee9e9;
}
#lannister { color:black;}
#greyjoy { color:white;}
#stark {color:white;}
#tarly { color:white;}
#clegane { color:white;}
#tully { color: #27408b;}
#baratheon { color:#8b0000}
